.App {
  text-align: center;
  background-color: gray;
  height: 100vh;
  font-family: 'Prompt', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Dog-Page-Container {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.navbar-link {
  text-decoration: none;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
}

.header-logo {
  padding: 10px;
}

.dog-card {
  padding-bottom: 0;
  margin: 15px;
  box-shadow: 5px 5px 10px;
  background-color: white;
}

.dog-card-img:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  border: 5pt groove black;
}

.dog-card-img {
  filter: grayscale(60%);
  object-fit: cover;
  width: 100%;
  max-height: 350px;
  height: auto;
}

.homepage-div {
  background-image: url('https://i.ytimg.com/vi/erEfPcA7M7E/maxresdefault.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  font-weight: bold;
  text-align: left;
  color: white;
  background-position: center;
  background-size: cover;
}

body, html{
  padding: 0 !important; 
  margin: 0 !important;
  background:gray
}